@media only screen and (min-width: 1200px) {
  .headline h6 {
    font-size: 3rem !important; }
  .headline h2 {
    font-size: 6rem !important; }
  .headline {
    padding-bottom: 150px !important; }
  .parallax-section {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
    padding-left: 30px;
    background-position: 0 -80px; }
  .parallax-section h3 * {
    font-size: 3rem; }
  .brownbar-section {
    padding-right: 150px;
    box-shadow: -150px -40px white inset, 0px 40px white inset; }
  .brownbar-text {
    padding-top: 80px !important; }
  .red-section {
    background-size: 490px 829px;
    background-position: top right; }
  .red-section h2 {
    font-size: 3rem; }
  #addtocart-button {
    width: 50%; } }
