@media only screen and (min-width: 768px) {
  .headline h6 {
    font-size: 2rem !important; }
  .section1 p:first-child {
    text-align: left; }
  .afterChocoBanner {
    text-align: left; }
  .brownbar-section {
    box-shadow: -80px 60px white inset, 80px 1px white inset !important; }
  .between-brown-and-red * {
    text-align: left; }
  .red-section {
    background-size: auto auto !important; }
  .red-section h2 {
    font-size: 2.3rem !important; }
  #guaranteeLine {
    text-align: left !important;
    font-size: 2.2rem; } }
